
.info-banner-container {
  @keyframes info-in {
    0% {
      top: -50px;
      opacity: 0.5;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes info-out {
    0% {
      top: 0;
      opacity: 1;
    }
    100% {
      top: -50px;
      opacity: 0.5;
    }
  }

  position: fixed;
  z-index: 1000;

  width: 100vw;

  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.error {
    color: red;
    background-color: #fbbd;
  }

  &.success {
    color: green;
    background-color: #bfbd;
  }

  &.entering, &.exiting {
    animation-duration: 300ms;
    animation-fill-mode: both;
  }

  &.entering {
    animation-name: info-in;
  }

  &.exiting {
    animation-name: info-out;
  }
}
